.background_color{
	background-color: rgb(208, 206, 206);
}
.center_display{
	text-align:center;
}
.right_display{
	text-align:right;
}
.borderline{
	border-style: solid;
	border-color: black;
}
.table_header {
    background-color: #F5FFFA;
    border-style: solid;
    border-color: black;
    font-weight: bold;	
}
.table_body {
    background-color: #EEEEEE;
}
