<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Bookshelf</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>BookLogin</servlet-name>
		<servlet-class>info.books.book_login</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>ChangeScreen</servlet-name>
		<servlet-class>info.books.Change_screen</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>Bookshelf</servlet-name>
		<servlet-class>info.books.Bookshelf</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>changeRegister</servlet-name>
		<servlet-class>info.books.Change_register</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>initRegister</servlet-name>
		<servlet-class>info.books.Init_register</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>changeEdit</servlet-name>
		<servlet-class>info.books.Change_edit</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>initEdit</servlet-name>
		<servlet-class>info.books.Init_edit</servlet-class>
    </servlet>

    <servlet-mapping>
		<servlet-name>BookLogin</servlet-name>
		<url-pattern>/book_login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeScreen</servlet-name>
		<url-pattern>/Change_screen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bookshelf</servlet-name>
		<url-pattern>/init_bookshelf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeRegister</servlet-name>
		<url-pattern>/change_register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>initRegister</servlet-name>
		<url-pattern>/init_register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeEdit</servlet-name>
		<url-pattern>/change_edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>initEdit</servlet-name>
		<url-pattern>/init_edit</url-pattern>
	</servlet-mapping>

</web-app>
