<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Bookshelf</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginBookshelf</servlet-name>
		<servlet-class>info.books.Login_bookshelf</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>LogoutBookshelf</servlet-name>
		<servlet-class>info.books.Logout_bookshelf</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>ChangeScreen</servlet-name>
		<servlet-class>info.books.Change_screen</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>InitBookshelf</servlet-name>
		<servlet-class>info.books.Init_bookshelf</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>ChangeRegister</servlet-name>
		<servlet-class>info.books.Change_register</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>InitRegister</servlet-name>
		<servlet-class>info.books.Init_register</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>CheckRegister</servlet-name>
		<servlet-class>info.books.Check_register</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>BookAdd</servlet-name>
		<servlet-class>info.books.Book_add</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>ChangeEdit</servlet-name>
		<servlet-class>info.books.Change_edit</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>InitEdit</servlet-name>
		<servlet-class>info.books.Init_edit</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>CheckEdit</servlet-name>
		<servlet-class>info.books.Check_edit</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>BookEdit</servlet-name>
		<servlet-class>info.books.Book_edit</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>BookDelete</servlet-name>
		<servlet-class>info.books.Book_delete</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>LoginBookshelf</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutBookshelf</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeScreen</servlet-name>
		<url-pattern>/Change_screen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitBookshelf</servlet-name>
		<url-pattern>/init_bookshelf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeRegister</servlet-name>
		<url-pattern>/change_register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitRegister</servlet-name>
		<url-pattern>/init_register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckRegister</servlet-name>
		<url-pattern>/check_register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookAdd</servlet-name>
		<url-pattern>/book_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeEdit</servlet-name>
		<url-pattern>/change_edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitEdit</servlet-name>
		<url-pattern>/init_edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckEdit</servlet-name>
		<url-pattern>/check_edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookEdit</servlet-name>
		<url-pattern>/book_edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookDelete</servlet-name>
		<url-pattern>/book_delete</url-pattern>
	</servlet-mapping>
</web-app>
